{% extends 'index.html' %}

{% block content %}

<br />
<!-- Lisäyslomakkeen paikka -->
<div id="add-div"></div>
<br />

<h1>Products</h1>

<a onclick="showaddform()" class="btn btn-primary">Add new product</a>

    <form method="post" action="/search-products/">
            {%csrf_token %}
            <input class="card-text" class="card-text" type="text" placeholder="search" name="search">

            <input type="submit" value="Search" class="btn btn-success btn-sm" name="">
    </form>

{% for p in products %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h3 class="card-title">{{p.productname}} </h3>
        <h5 class="card-text">Supplier: {{p.supplier.companyname}}</h5>
        <p class="card-text">packagesize: {{p.packagesize}} | unitprice: {{p.unitprice}}</p>
        <p class="card-text" style="color: green;">Units in stock: {{p.unitsinstock}}</p>
        <a href="/edit-product-get/{{p.id}}/" class="btn btn-primary">Edit</a>

        <a href="/confirm-delete-product/{{p.id}}/" class="btn btn-danger">Delete</a>

        <a href="/products-by-supplier/{{p.supplier.id}}/" class="btn btn-secondary">{{p.supplier.companyname}}'s all
            Products</a>

    </div>
</div>


{% empty %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <p class="card-text">No products found in the database </p>
    </div>
</div>

{%endfor%}


<script>

    let y = `
    <h2 style="color: lightblue;">Please fill in form</h2>


    <div class="card form-card">

        <div class="card-header">
            <h4>Add Product</h4>
        </div>

        <div class="card-body">

            <form method="post" action="/add-product/">

                {% csrf_token %}
                <div class="form-grid">

                    <div class="form-group">
                        <label>Product name</label><input type="text" name="productname">
                    </div>
                    <div class="form-group"> <label>Package size</label><input type="text" name="packagesize">
                    </div>
                    <div class="form-group"><label>Unit price</label><input type="number" step="0.01" name="unitprice">
                    </div>
                    <div class="form-group"><label>Units in stock</label><input type="number" name="unitsinstock">
                    </div>
                    <div class="form-group full-width"> <label>Supplier</label>
                        <select name="supplier">
                            {% for supplier in suppliers %}
                                <option value="{{ supplier.id }}">
                                    {{ supplier.companyname }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div>
                    <input type="submit" value="Save" class="btn btn-success">
                    <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
                </div>
            </form>
        </div>
    </div>

    `

    function showaddform() {
        document.getElementById("add-div").innerHTML = y
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }

</script>

{% endblock %}